{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Startseite" %} {% endblock %}

{% block content %}

<form id="csrf-form" style="display: none;">
    {% csrf_token %}
</form>

<section id="objectDetailsContent" class="section_obj_details">

    <br>
    <h5>{% trans "Zuletzt veröffentlichte Termine" %}</h5>
    <br>

    <table class="display_table">
        <thead>
            <tr>
                <th class="object">Objekt</th>
                <th>Termin</th>
                <th>Objektlink</th>
            </tr>
        </thead>
        <tbody>
            {% for header, address, verkehrswert, obj_linktxt, date, url in data1 %}
            <tr class="row">
                <td>
                    <div class="txt">
                        <strong>
                            <a class="header-link" href="{% url 'object_details' forloop.counter0 %}" title="Objektdetails">
                                {{ header }}<span class="material-symbols-outlined" style="font-size: 14px; text-align: center;">left_click</span><br>
                            </a>
                        </strong>
                        {{ address }}<br>
                        {{ verkehrswert }}<br>
                        {{ obj_linktxt }}
                    </div>
                </td>
                <td class="date">{{ date }}</td>
                <td class="link"><a href="{{ url }}" title="Objektlink" target="_blank"><span class="material-symbols-outlined">Link</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
</section>
<script>
    $(document).ready(function () {
        function getCSRFToken() {
            return $('input[name="csrfmiddlewaretoken"]').val();
        }

        function updateTable(data) {
            var tableBody = $('#objectDetailsContent tbody');
            tableBody.empty();

            data.forEach(function (item, index) {
                if (item && item.length === 6) {
                    var row = $('<tr>');
                
                    var detailsUrl = "{% url 'object_details' 0 %}".replace('0', index);
                    var headerCell = $('<td>').html('<div class="txt"><strong><a class="header-link" href="' + detailsUrl + '" title="Objektdetails">' + item[0] + '<span class="material-symbols-outlined" style="font-size: 14px; text-align: center;">left_click</span><br></a></strong>' + item[1] + '<br>' + item[2] + '<br>' + item[3] + '</div>');
                    var dateCell = $('<td>').addClass('date').text(item[4]);
                    var linkCell = $('<td>').addClass('link').html('<a href="' + item[5] + '" title="Objektlink" target="_blank"><span class="material-symbols-outlined">Link</span></a>');

                    row.append(headerCell, dateCell, linkCell);
                    tableBody.append(row);
                }
            });
        }

        function fetchData() {
            $.ajax({
                type: 'POST',
                url: window.location.href,
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: getCSRFToken(),
                },
                success: function (data) {
                    if (data && data.data1) {
                        updateTable(data.data1);
                    }
                },
                error: function (error) {
                    console.error('Fehler bei der AJAX-Anfrage:', error);
                }
            });
        }

        fetchData();
    });
</script>

{% endblock %}
<style>
    .custom-dropdown {
        display: inline-block;
        position: relative;
    }
    .custom-dropdown select {
        display: none;
    }
    .custom-dropdown .checkbox-list {
        display: none;
        position: absolute;
        border: 1px solid #ccc;
        background-color: #fff;
    }
</style>