{% extends "base.html" %}

{% block title %}Objekt Details{% endblock %}

{% block content %}

    {% if object_data %}
        <section id="objectDetailsContent" class="section_obj_details">
            {% for obj in object_data %}
                <br>
                <h4>{{ obj.Objekttyp }}</h4>
                <br><br>
                <div>
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                {% if obj.Aktenzeichen %}
                                <th style="text-align: left; width: 20%;">
                                    Aktenzeichen: {{ obj.Aktenzeichen }}
                                </th>
                                {% endif %}
                                {% if obj.Aktualisierung %}
                                <th style="text-align: right;">
                                   <span style="font-weight: lighter;">{{ obj.Aktualisierung }}</span>
                                </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if obj.Art_der_Versteigerung %}
                            <tr>
                                <td><strong>Art der Versteigerung: </strong></td>
                                <td>{{ obj.Art_der_Versteigerung }}</td>
                            </tr>
                            {% endif %}
                            {% if obj.Grundbuch %}
                            <tr>
                                <td><strong>Grundbuch: </strong></td>
                                <td>{{ obj.Grundbuch }}</td>
                            </tr>
                            {% endif %}
                            {% if obj.Objekttyp %}
                            <tr>
                                <td><strong>Objekttyp: </strong></td>
                                <td>{{ obj.Objekttyp }}</td>
                            </tr>
                            {% endif %}
                            {% if obj.Adresse %}
                            <tr>
                                <td><strong>Adresse: </strong></td>
                                <td>{{ obj.Adresse }}</td>
                            </tr>
                            {% endif %}
                            {% if obj.Beschreibung %}
                            <tr>
                                <td><strong>Beschreibung: </strong></td>
                                <td>{{ obj.Beschreibung }}</td>
                            </tr>
                            {% endif %}
                            {% if obj.Verkehrswert %}
                            <tr>
                                <td><strong>Verkehrswert: </strong></td>
                                <td>{{ obj.Verkehrswert }}</td>
                            </tr>
                            {% endif %}
                            {% if obj.Ort_der_Versteigerung %}
                            <tr>
                                <td><strong>Ort der Versteigerung: </strong></td>
                                <td>{{ obj.Ort_der_Versteigerung }}</td>
                            </tr>
                            {% endif %}
                            {% if obj.Termin %}
                            <tr>
                                <td><strong>Termin: </strong></td>
                                <td>{{ obj.Termin }}</td>
                            </tr>    
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <p>Objektdetails nicht verfügbar</p>
    {% endif %}
{% endblock %}