{% extends "base.html" %}

{% block title %}Objekt Daten{% endblock %}

{% block content %}
<a class="back_btn" href="{% url 'city_selection' %}">    
     <strong>
        <span class="material-symbols-outlined">arrow_left_alt</span>
    </strong>
</a>

<h5>{{ header }}</h5>

<section id="objectDetailsContent" class="section_obj_details">
    <table class="display_table">
        <thead>
            <tr>
                <th class="object">Objekt</th>
                <th>Termin</th>
                <th>Objektlink</th>
            </tr>
        </thead>

        <tbody>
            {% for info_header, obj_text, date, city_url in data %}
            <tr>
                <td>
                    <div class="txt">
                        <strong>
                            <a class="header-link" title="Objektdetails" href="{% url 'object_city_details' selected_city=request.GET.city city_url_index=forloop.counter0 %}">{{ info_header }}<br></a>
                        </strong>
                        {{ obj_text }}
                    </div>
                </td>
                <td class="date">{{ date }}</td>
                <td class="link">
                        <a href="{{ city_url }}" title="Objektlink" target="_blank"><span class="material-symbols-outlined">Link</span></a>
                </td>
            </tr>
            {% endfor %}
        </body>
    </table>

</section>
{% endblock %}