{% extends "base.html" %}

{% block title %}Termine{% endblock %}

{% block content %}
 <h1>Objektdaten nach Stadt</h1>
<section id="objectDetailsContent" class="section_obj_details">
    {% if termine_data %}
        <table class="display_table">
            <thead>
                <tr>
                    <th class="object">Objekt</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for termin in termine_data %}
                    <tr class="row">
                       <td>
                            <div>
                                <div class="txt">
                                    <strong>
                                        <a class="header-link" title="Objektdetails" href="#">{{ termin.Wohnungstyp }}</a>
                                    </strong><br>
                                    {{ termin.Adresse }} <br>
                                    Verkehrswert: {{ termin.Verkehrswert }} 
                                </div>
                            </div>
                        </td>
                        <td class="link">
                            <a href="{{ termin.Link }}" title="Objektlink" target="_blank">
                                <span class="material-symbols-outlined">Link</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Keine Daten verfügbar.</p>
    {% endif %}
</section>
{% endblock %}