{% load static %}
<aside>
    <div class="top">
        <div class="logo">
            <h2>Immobilien<span class="primary"><small> Objekte</small></span></h2>
        </div>
    </div>

    <div class="sidebar">
        <a href="/">
            <span class="material-symbols-outlined">home</span>
            <h3>Startseite</h3>
        </a>
        <a href="/city_selection">
            <span class="material-symbols-outlined">home_work</span>
            <h3>Ortsauswahl NRW</h3>
        </a>
        <a href="/detail_search">
            <span class="material-symbols-outlined">search</span>
            <h3>Objektsuche</h3>
        </a>
        <a href="/all_objects_details">
            <span class="material-symbols-outlined">holiday_village</span>
            <h3>Alle Objekte</h3>
        </a>
        <a href="/amtsgerichte">
            <span class="material-symbols-outlined">account_balance</span>
            <h3>Amtsgerichte</h3>
        </a>
        <a href="/test">
            <span class="material-symbols-outlined">account_balance</span>
            <h3>Test</h3>
        </a>
    </div>
</aside>